{% extends "entete.html.twig" %}
{% block content %}
<body>
<div class="container">
    <center><h1>Ajouter une activité</h1></center>
       <br> 
       <div class="form-group col-md-12">
			{{ form_start(form) }}
            <div class="">
                <label>
                {{ form_widget(form.activite)}}
                </label>    
            </div><br>

            <div class="form-group col-md-12">
								<label>Commentaire</label>
								{{ form_widget(form.commentaire, {'attr': {'class': 'form-control'}})}}
							</div>

              <center><div class="col-12">
					{{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-secondary'}})}}
				</div></center>
			</div>    
</div>
</body>
</html>
{% endblock %}

