{% extends "entete.html.twig" %}
{% block content %}
<body>
<div class="container">
	<p></p><center><h1>Réalisations professionnelles à commenter</h1></center><p></p>
				{{ form_start(form) }}
                <label id="promotion" name="promotion">
                {{ form_widget(form.id, {'attr': {'class': 'form-control'}})}}
                </label> 
            <br>


{% block javascripts %}
						<script src="https://code.jquery.com/jquery-3.4.1.js"
									integrity= "sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" 
									crossorigin="anonymous"> 
						</script>
						<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
						<script>
							jQuery( document ).ready(function( $ ) {
								$("#promotion").change(function () {
									$( "select option:selected" ).each(function() {
										});
										var numeroption = $(this).find(':selected').attr('value');
										var etudentifiant = null;
										$("#table tr").remove();
									$.ajax({
										type: "post",
										url: '{{ path('afficherRPPromoACommenter') }}',
										data: { numeroption : numeroption },
										dataType: "json",
										
										success: function (json) {

										$.each(json, function (index, value) {

											//console.log(value);
											

											if (etudentifiant == value.etu_id){
												etudentifiant = value.etu_id;
												var str = value.libcourt;
												var result = str.link("../../../etudiant/rp/consulter/"+value.id+"");
												$('#table').append('<tbody><tr><td>'+value.nom+' '+value.prenom+'</td><td>'+value.source+'</td><td>'+result+'</td><td>'+value.activites+'</td><td>'+value.date+'</td></tr></tbody></table>');

											}

											else{
												etudentifiant = value.etu_id;
												var str = value.libcourt;
												var result = str.link("../../../etudiant/rp/consulter/"+value.id+"");
												$('#table').append('<tbody><thead><tr><th scope="col" data-sortable="true">Etudiant</th><th scope="col" data-sortable="true">Source</th><th scope="col" data-sortable="true">Libellé</th><th scope="col" data-sortable="true">Nombre d\'activités</th><th scope="col" data-sortable="true">Date</th></tr></thead><tbody>');

												$('#table').append('<tbody><tr><td>'+value.nom+' '+value.prenom+'</td><td>'+value.source+'</td><td>'+result+'</td><td>'+value.activites+'</td><td>'+value.date+'</td></tr></tbody></table>');
											}
											
																  

										});
										},
										error: function(jxh,textmsg,errorThrown){
											console.log(textmsg);
											console.log(errorThrown);
										}
									});
								});
							});
						
						
						</script>

						{% endblock %}
                <table class="table" id="table" data-toggle="BootstrapTable" data-height="460">

					
					



				</table>
				<br>
		<br><br>
</body>
</html>
{% endblock %}