{% extends "entete.html.twig" %}{# appelle l'entête (logo + menu déroulant) #}
{% block content %}

<div class="container">
<br>
{{ form_start(form) }}{# appelle un formulaire servant à #}
            <div>
                <label>Commentaire</label> 
                {{ form_widget(form.commentaire, {'attr': {'class': 'form-control'}})}}{# zone de saisie du commentaire de la RP  #}  
            </div><br>
            <center><div class="col-12">
					{{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-secondary'}})}}{# bouton de validation #}
				</div></center>
			</div>
</div>

{% endblock %}