{% extends "entete.html.twig" %}{# appelle l'entête (logo + menu déroulant) #}
{% block content %}
<body>
<br>
    <div class='container'>
        <center><p>Vous êtes en compte admin</p></center>
    </div>
</body>
{% endblock %}