{% extends "entete.html.twig" %}{# appelle l'entête (logo + menu déroulant) #}
 {% block content %}
<body>
<div class="container">
<br><center><h1><u>Liste des stages</u></h1></center><br>
<table class="table" border ="2px">
<thead>
          <tr>
{% set numSemaine = -1 %}
{% for semaineStage in stage.semaineStages %}

          

          {% if numSemaine != semaineStage.numSemaine %}
      
    {% set numSemaine = semaineStage.numSemaine %}
    {% endif%}      
          
            
<td> <a class="dropdown-item" href="{{path ('ListerSemaine',{'idStage': stage.id, 'idSemaineStage': semaineStage.id}) }} ">semaine {{semaineStage.numSemaine}}</a></td>
           




{%endfor%}

 </table>

</body>

</html>

{% endblock %}